<!-- <div class="row">
    <div class="class s8 offset-s2">
        <div class="class card">
            <div class="s8 jumbotron center-align">
                <h2>User Registration</h2>

            </div>
            <form class="col s12 white" #UserRegistrationForm="ngForm">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="FirstName" #UserName="ngModel" [(ngModel)]="user.FirstName">
                        <label>First Name</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="class s8 offset-s2">
        <div class="class card">
            <div class="s8 jumbotron center-align">
                <h2>User Registration</h2>
            </div>
            <form class="col s12 white" #UserRegistrationForm="ngForm">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="FirstName" #UserName="ngModel" [(ngModel)]="user.FirstName">
                        <label>First Name</label>
                    </div>
                    <!-- <div class="input-field col s6"></div> -->

                    <div class="input-field col s6">
                        <input type="text" name="LastName" #UserName="ngModel" [(ngModel)]="user.LastName">
                        <label>Last Name</label>
                    </div>
                    <!-- <div class="input-field col s6"></div> -->
                </div>
                
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="Gender" #UserName="ngModel" [(ngModel)]="user.Gender">
                        <label>Gender</label>
                    </div>
                    <!-- <div class="input-field col s6"></div> -->

                    <div class="input-field col s6">
                        <input type="text" name="Age" #UserName="ngModel" [(ngModel)]="user.Age">
                        <label>Age</label>
                    </div>
                    <!-- <div class="input-field col s6"></div> -->
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="Email" #UserName="ngModel" [(ngModel)]="user.Email">
                        <label>Email</label>
                    </div>
                    <!-- <div class="input-field col s6"></div> -->

                    <div class="input-field col s6">
                        <input type="text" name="Mobile" #UserName="ngModel" [(ngModel)]="user.Mobile">
                        <label>Mobile</label>
                    </div>
                    <!-- <div class="input-field col s6"></div> -->
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="CurrentRegion" #UserName="ngModel" [(ngModel)]="user.CurrentRegion">
                        <label>Current Region</label>
                    </div>
                    <!-- <div class="input-field col s6"></div> -->

                    <div class="input-field col s6">
                        <input type="text" name="Nationality" #UserName="ngModel" [(ngModel)]="user.Nationality">
                        <label>Nationality</label>
                    </div>
                    <!-- <div class="input-field col s6"></div> -->
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="FavouriteFood" #UserName="ngModel" [(ngModel)]="user.FavouriteFood">
                        <label>Favourite Food</label>
                    </div>
                    <!-- <div class="input-field col s6"></div> -->

                    <div class="input-field col s6">
                        <input type="text" name="Allergies" #UserName="ngModel" [(ngModel)]="user.Allergies">
                        <label>Allergies,if any</label>
                    </div>
                    <!-- <div class="input-field col s6"></div> -->
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="Calorieintake" #UserName="ngModel" [(ngModel)]="user.Calorieintake">
                        <label>What is your daily calorie intake?</label>
                    </div>
                    <!-- <div class="input-field col s6"></div> -->

                    <div class="input-field col s6">
                        <input type="text" name="dietplan" #UserName="ngModel" [(ngModel)]="user.dietplan">
                        <label>Are you on any diet plan,if yes then mention the name</label>
                    </div>
                    <!-- <div class="input-field col s6"></div> -->
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <button class="btn-large btn submit" type="submit">Submit</button>
                        
                    </div>

                    

                
                </div>
            </form>
        </div>
    </div>
</div>
